# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Folders
.temp
.cache
dist
build
node_modules
jspm_packages
bower_components

# Files
yarn.lock
pnpm-lock.yaml
package-lock.json

# Envs
.env
.env.production
.env.development