{
   "semi": true,
   "singleQuote": true,
   "bracketSpacing": true,
   "trailingComma": "all",
   "tabWidth": 3,
   "printWidth": 120,
   "overrides": [
      {
         "files": "*.md",
         "options": {
            "parser": "markdown",
            "proseWrap": "preserve"
         }
      }
   ]
}
